################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Its Only Murder/.vs/Its Only Murder/v15
